:root {
    --background: #282a36;
    --current-line: #44475a;
    --foreground: #f8f8f2;
    --comment: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
}

#terminal {
    background: var(--background);
    height: 500px;
    min-width: 300px;
    border-radius: 10px;
}

#terminal #terminal-header {
    background: var(--current-line);
    border-radius: 10px 10px 0 0;
    height: 8%;
    display: flex;
    justify-items: start;
    align-items: center;
    padding: 0 1rem;
}

#terminal #terminal-body {
    padding: 1rem 0.5rem;
}

.header-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.terminal-line {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.1rem;
}

#terminal-input {
    background-color: var(--background);
    border: none;
    color: var(--foreground);
    display: block;
    width: 100%;
}

#terminal-input:focus {
    outline: none;
}

.host {
    color: var(--green);
}

.path {
    color: var(--purple);
    flex-shrink: 0; 
}

.output {
    color: var(--foreground);
}

.command {
    color: var(--foreground);
}

.circle {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

.bg-red {
    background: var(--red);
}

.bg-orange {
    background: var(--orange);
}

.bg-green {
    background: var(--green);
}

.text-foreground {
    color: var(--foreground);
}

.text-purple {
    color: var(--purple);
}

.mr-xs {
    /* margin-left: 0.25rem; */
    margin-right: 0.25rem;
}